{% extends 'base.html' %} 

{% load static %}

{% block content %}
    <style>
        body {
            background: radial-gradient(circle, #FD8D14, #FFDBAA, white);
            margin-left: 70px;
            margin-right: 70px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .header {
            border-radius: 20px;
            padding: 20px;
            margin-top: 30px;
            margin-bottom: -30px;
        }

        .header h1 {
            font-family: 'Treasure Map', serif;
            font-size: 36px;
        }

        .info-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        /* Tambahkan gaya khusus untuk halaman Create Item */
        .create-item-form {
            margin-top: 30px;
            width: 50%;
        }

        .create-item-form h1 {
            font-size: 24px;
        }

        .create-item-form table {
            width: 100%;
            border-collapse: collapse;
        }

        .create-item-form th,
        .create-item-form td {
            padding: 10px;
        }

        .create-item-form td {
            text-align: left;
            border-radius: 10px;
        }

        .create-item-form input[type="text"] {
            width: 96%;
            padding: 5px;
            border: 1px solid rgb(103, 103, 103);
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .create-item-form input[type="submit"] {
            background-color: #FD8D14;
            color: black;
            border-radius: 15px;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            float: right; /* Menggeser tombol ke kanan */
            margin-top: 10px; /* Jarak antara tombol dan tabel */
        }

    </style>


    <div class="container">
        <div class="header">
            <h1>Edit Item</h1>
        </div>

        <div class="create-item-form">
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Edit Product"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
{% endblock content %}